<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="searchResult()">
    <div class="search">
        <div class="search-box">
            <input type="text" name="search" formControlName="query" placeholder="Search">
            <i class="fal fa-search" (click)="searchResult()"></i>
        </div>
        <select class="preference" formControleName="city">
            <option value="services" selected>City</option>
            <optgroup label="Popular">
                <option value="delhi">Delhi</option>
                <option value="mumbai">Mumbai</option>
                <option value="chennai">Chennai</option>
                <option value="kolkata">Kolkata</option>
            </optgroup>
            <optgroup label="Others">
                <option value="Bhopal">Bhopal</option>
                <option value="Chindwara">Chindwara</option>
                <option value="Neemuch">Neemuch</option>
                <option value="Byaora">Byaora</option>
            </optgroup>
        </select>
        <select class="preference" formControlName="category">
            <option value="service" selected>Service</option>
            <option value="plumber">Plumber</option>
            <option value="electrician">Electrician</option>
            <option value="maid">Maid</option>
            <option value="cook">Cook</option>
            <option value="laundry">Laundry</option>
            <option value="carpentar">Carpentar</option>
            <option value="others">Others</option>
        </select>
        
    </div>
    <div *ngIf="!searching && !searchResults">
        <div class="predefined">
            <div class="service">
                <i class="fas fa-wrench"></i>
                <h5>Plumber</h5>
            </div>
            <div class="service">
                <i class="fas fa-bolt"></i>
                <h5>Electrician</h5>
            </div>
            <div class="service">
                <i class="fas fa-broom"></i>
                <h5>Maid</h5>
            </div>
        </div>
        <div class="predefined" style="margin-top: -30px;">
            <div class="service">
                <i class="fas fa-hat-chef"></i>
                <h5>Cook</h5>
            </div>
            <div class="service">
                <i class="fas fa-washer"></i>
                <h5>Laundary</h5>
            </div>
            <div class="service">
                <i class="fas fa-hammer"></i>
                <h5>Carpentar</h5>
            </div>
        </div>
    </div>
</form>
        
</div>
<div class="card-main">
    <div class="close"><i class="fas fa-times"></i></div>
    <h3 class="s_name">service_name</h3>
    <h4 class="scat">service_category</h4>
    <hr>
    <div class="cdetails">
        <div>
            <h4 class="pname">provider_name</h4>
            <h4 class="contact"><i class="far fa-mobile"></i><span>mob_no</span></h4>
            <h4 class="contact"><i class="fab fa-whatsapp"></i><span>whatsapp_no</span></h4>
            <h4 class="contact"><i class="far fa-envelope"></i><span>email_id</span></h4>
        </div>
        <div class="partition"></div>
        <div>
            <h4 class="address">Address Line 1</h4>
            <h4 class="address2">Address Line 2</h4>
            <h4 class="city"><span>city</span> - <span>state</span> - <span>pincode</span></h4>
        </div>
    </div>
    <hr>
    <h4 class="rating"><span style="font-weight: 600;">Rating-</span>&nbsp;<span>rating_no</span> / 5</h4>
    <div class="desc mt-4">
        <h4 style="font-size: 1.2em;">Description</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.</p>
    </div>
</div>
<div class="container scontainer" *ngIf="searching && !loaded">
    <i class="fas fa-circle-notch"></i>
    </div>
<div class="results row" *ngIf="!searching && loaded && searchResults">
    <div class="col-lg-3 col-xl-3">
        <div class="card" (click)="open()">
            <div class="open">
                <span *ngIf="!cardLoaded">OPEN</span>
                <span *ngIf="cardLoaded"><i class="fas fa-circle-notch"></i></span>
            </div>
            <div class="content">
                <h3 class="s_name">service_name</h3>
                <h4 class="scat">service_category</h4>
                <hr>
                <h4 class="pname">provider_name</h4>
                <h4 class="contact">Contact</h4>
                <h4 class="city">city - <span>pincode</span></h4>
                <h4 class="rating"><span style="font-weight: 600;">Rating-</span>&nbsp;<span>rating_no</span> / 5</h4>
            </div>
        </div>
    </div>
</div>