<div class="container">
    <div class="search">
        <div class="search-box">
            <input type="text" name="search" placeholder="Search">
            <i class="fal fa-search"></i>
        </div>
        <select class="preference">
            <option value="services" selected>City</option>
            <optgroup label="Popular">
                <option value="delhi">Delhi</option>
                <option value="mumbai">Mumbai</option>
                <option value="chennai">Chennai</option>
                <option value="kolkata">Kolkata</option>
            </optgroup>
            <optgroup label="Others">
                <option value="Bhopal">Bhopal</option>
                <option value="Chindwara">Chindwara</option>
                <option value="Neemuch">Neemuch</option>
                <option value="Byaora">Byaora</option>
            </optgroup>
        </select>
        <select class="preference">
            <option value="service" selected>Service</option>
            <option value="plumber">Plumber</option>
            <option value="electrician">Electrician</option>
            <option value="maid">Maid</option>
            <option value="cook">Cook</option>
            <option value="laundry">Laundry</option>
            <option value="carpentar">Carpentar</option>
            <option value="others">Others</option>
        </select>
    </div>
    <div class="predefined">
        <div class="service">
            <i class="fas fa-wrench"></i>
            <h5>Plumber</h5>
        </div>
        <div class="service">
            <i class="fas fa-bolt"></i>
            <h5>Electrician</h5>
        </div>
        <div class="service">
            <i class="fas fa-broom"></i>
            <h5>Maid</h5>
        </div>
    </div>
    <div class="predefined" style="margin-top: -30px;">
        <div class="service">
            <i class="fas fa-hat-chef"></i>
            <h5>Cook</h5>
        </div>
        <div class="service">
            <i class="fas fa-washer"></i>
            <h5>Laundary</h5>
        </div>
        <div class="service">
            <i class="fas fa-hammer"></i>
            <h5>Carpentar</h5>
        </div>
    </div>
</div>