.greet{
    h1{
        font-family: 'Montserrat';
        color: white;
        text-transform: uppercase;
        word-spacing: 10px;
        letter-spacing: 2px;
        font-size: 4em;
        span{
            font-weight: 700;
        }
    }
}